SDK_2.3.1_MIMXRT1052xxxxx（官方SDK原件）
SDK_2.3.1_MIMXRT1052xxxxx_doc（官方SDK_DOC原件）
RT1052_SDK（固件库及文档）.zip
SDK_2.3.1_MIMXRT1052xxxxx（官方SDK原件）.zip
SDK_2.3.1_MIMXRT1052xxxxx_doc（官方SDK_DOC原件）.zip
sdk的下载方法.docx
SDK_2.3.1_MIMXRT1052xxxxx（官方SDK原件-包含所有第三方软件包）
SDK_2.3.1_MIMXRT1052xxxxx（官方SDK原件-含所有支持包）
MIMXRT1052xxxxB
MIMXRT1052xxxxB_doc
MIMXRT1052xxxxB.zip
MIMXRT1052xxxxB_doc.zip
